/*Tablet Responsive 768*/
@media screen and (max-width:768px) {
    .container{max-width:100%;
    width:1000px;
padding: 0;}
    
    body{overflow-x: hidden;
    }
}


/*Phone Responsive 576px*/
@media screen and (max-width:576px){
    .row{
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;}

    .col{flex-basis: 50%;}
}